/* Write your CSS here */
.bg-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom, #ffffff, #cffcf1, #defafe);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #1e293b;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 500;
}
.digital-timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.display-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
}
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.timer {
  color: #00d9f5;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
}
.timer-status {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}
.controllers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.timer-controller-container {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 16px;
  margin-left: 16px;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.timer-label {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.timer-limit-controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

.timer-limit-controller {
  display: flex;
  align-items: center;
}

.limit-button {
  color: #1e293b;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  border: none;
  margin: 8px;
  cursor: pointer;
  outline: none;
}

.value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.limit-value {
  text-align: center;
  color: #1e293b;
  background-image: linear-gradient(to right, #00f5a0, #00d9f5);
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  width: 100px;
  border-radius: 8px;
  margin: 0px;
  padding: 8px;
}
@media screen and (min-width: 768px) {
  .bg-container {
    background-image: linear-gradient(
      to right,
      #ffffff,
      #cffcf1,
      #cffcf1,
      #defafe
    );
  }
  .heading {
    font-size: 65px;
    font-weight: bold;
  }
  .digital-timer-container {
    flex-direction: row;
  }
  .display-time-container {
    width: 600px;
    height: 450px;
  }
  .timer-container {
    width: 200px;
    height: 200px;
  }
  .timer {
    font-size: 48px;
  }
  .timer-status {
    font-size: 24px;
  }
}
